*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #040303;
    color: rgb(235, 226, 226);
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/su.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav a {
    flex-grow: 1;
    text-align: center;
    margin: 5px; /* Optional: Add some spacing between the links */
  }

nav ul li {
    display: inline-block;
    list-style: none;
    /* font-size: 18px; */
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;     /* transistion helps to under line come slowly for button */
}
nav ul li a:hover::after{
    width: 100%;
    
}
.header-text {
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;

}
.header-text h1 span{
    color: #ff004f;
}
#about{
    padding: 80px 0;
    color: #bd11f6;

}
.row{
    display: flex;
    flex-wrap: wrap;

}
.about {
    margin-top: 3%;
}
.about-col-1 img{
    width: 30%;
    border-radius: 40px;
    position: relative;
    margin-left: auto;


}
.about-col-2{
    width:80%;

    justify-content: center;
    position:relative;


    
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #ff004f;
}
.about-me{
    font-size: 30px;


}
.tab-title{
    display: flex;
    margin: 30px 0 40px;


}
.tab-link{
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(196, 237, 14);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-link.active-link::after {
    width: 100%;
}
.tab-contents{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul {
    list-style: none;
    padding: 0;
}

.tab-contents li {
     /* Add a 10-pixel border to the bottom of each list item */
    padding: 10px 0;
}

.tab-contents li:last-child {
    border-bottom: none; /* Remove the border from the last list item to avoid a double border */
}
.tab-contents span{
    color: #ff004f;
    font-size: 20px;
    margin-top:50px;

}

/* Your existing CSS styles here */

.tab-content {
    display: none;
}

.active-tab {
    display: block;
}

.tab-contents {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    transition: transform 0.3s ease;
}

.show-skills {
    transform: translateX(0);
}

.show-education {
    transform: translateX(-100%);
}

.show-experience {
    transform: translateX(-200%);
}
